@model CRMLeades.Models.LeadsEntity

@{
    ViewData["Title"] = "AddLead";
}

<hr />
<div class="container">
    <div class="col-md-10 border-1">

        <form asp-action="AddNewLead">
            <h2>Create New Lead</h2>
            <hr/>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-12 text-center">
                    <b>@ViewBag.message</b>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label asp-for="LeadDate" class="control-label"></label>
                    <input asp-for="LeadDate" class="form-control" />
                    <span asp-validation-for="LeadDate" class="text-danger"></span>
                </div>    
            </div>

            <div class="row">
                <div class="col-3">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="col-3">
                    <label asp-for="EmailAddress" class="control-label"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>

                <div class="col-3">
                    <label asp-for="LeadSource" class="control-label"></label>
                    <input asp-for="LeadSource" class="form-control" />
                    <span asp-validation-for="LeadSource" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <label asp-for="LeadStatus" class="control-label"></label>
                    <input asp-for="LeadStatus" class="form-control" />
                    <span asp-validation-for="LeadStatus" class="text-danger"></span>
                </div>

                <div class="col-3">
                    <label asp-for="NextFollowUpDate" class="control-label"></label>
                    <input asp-for="NextFollowUpDate" class="form-control" />
                    <span asp-validation-for="NextFollowUpDate" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" asp-controller="Leads" class="btn btn-warning">Back to The Leads Page</a>
                </div>
            </div>


        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
